<div class="col-lg-3 col-md-4 col-12 thumb">
    <div class="imgFront">
        {{#if imgRetina }}
    <img src="{{ img }}" srcset="{{ imgRetina }} 2x" class="img-fluid" alt="{{ alt }}" title="{{ title }}">
    {{else}}
    <img src="{{ img }}" class="img-fluid" alt="{{ alt }}" title="{{ title }}">
    {{/if}}
    </div>
    <div class="imgBack">
        <p class="cakeTitle">{{ title }}</p>
        <p class="ingredients"><span>Інгредієнти: </span>{{ ingredients }}</p>
        <p class="price"><span>Вартість: </span>{{ price }} грн</p>
        <button 
            data-pid="{{ button }}" 
            data-name="{{ title }}" 
            data-price="{{ price }}" 
            data-ingredients="{{ ingredients }}"
            data-img="{{ img }}"
            data-alt="{{ alt }}"
            class="btnBuy"
        >У кошик</button>
    </div>
</div>