<div class="col-lg-3 col-md-4 col-12 thumb">
    <div class="imgFront"><img class="img-fluid" src="{{ img }}" alt="{{ alt }}"></div>
    <div class="imgBack">
        <p class="cakeTitle">{{ title }}</p>
        <p class="ingredients"><span>Інгредієнти: </span>{{ ingredients }}</p>
        <p class="price"><span>Вартість: </span>{{ price }} грн</p>
        <button data-pid="{{ button }}" class="btnBuy">У кошик</button>
    </div>
</div>